doctype html
html(lang="en")
    head
        title TO DO App
        link(rel='stylesheet', href='/static/main.css')
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    body 
     .container 
         h1.header TO DO App

         block number1